@import url("default.css");

main{
    padding-top: 100px;
    width: 90%;
    margin: auto;
}

.fixed{
    position: fixed;
    right: 5%;
    top: 100px;
    width: 250px;
    aspect-ratio: 1;
    border-radius: 20px;
    border: 1px solid var(--color-dirtywhite);
    background-color: var(--color-white);
    box-shadow: 0px 0px 10px var(--color-dirtywhite);
    flex-wrap: wrap;
    padding: 20px;
}

.fixed textarea {
    /* backdrop-filter: blur(10px); */
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1rem;
    resize: none;
    background-color: var(--color-white);
}

.fixed i {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--color-blue);
    border-radius: 100%;
    cursor: pointer;
    font-size: 1.5rem;
}

.saudacoes-container h3 {
    margin-bottom: 10px;
    font-weight: 500;
}

#diaAtual {
    color: var(--color-gray);
    font-weight: 400;
}

.atividade {
    font-weight: 700;
    margin: 20px 0;
}

.atividade a {
    color: var(--color-black);
    cursor: pointer;
}

.list-atividade p {
    margin-bottom: 5px;
}

.list-atividade ul {
    padding-left: 20px;
}

.list-atividade ul>li {
    font-weight: 600;
    margin: 10px 0;
    color: var(--color-red);
}

.list-atividade ul>li:nth-child(1) {
    color: var(--color-green);
}

#atividadeAtual, #atividadeProx, #meta, #anotacaoCount, #tasksNaoFeitas, #tasksFeitas {
    font-weight: 500;
    text-decoration: underline;
    color: var(--color-block);
}

#atividadeProx {
    color: var(--color-lightgray);
}

#coposCount {
    color: var(--color-blue);
}

.crono-water {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.cronograma-container {
    width: 100%;
}

.add-row {
    padding: 15px;
    margin-top: 15px;
    text-align: center;
}

.add-row input {
    margin: 0;
}

.add-row input[type="text"] {
    width: 65%;
    height: 20px;
}

.table-cronos {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    margin: 20px 0; 
}

th, td {
    border: 1px solid var(--color-dirtywhite);;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    text-align: center;
}

td:nth-child(2) {
    text-align: left;
}

td:nth-child(3) {
    display: flex;
    gap: 10px;
}

td #excluir, td #editar {
    padding: 0;
}

th {
    background-color: var(--color-gray);
    color: var(--color-white);
    text-align: center;
}

/* th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 8px;
} */

tr:nth-child(even) {
    background-color: var(--color-smoothwhite);
}

tr:hover {
    background-color: var(--color-dirtywhite);
}

.container {
    margin-bottom: 50px;
}

.btns {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 10px;
    margin-bottom: 30px;
}

#coposBebidos {
    margin-bottom: 30px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

button {
    color: var(--color-lightwhite);
    background-color: var(--color-green);
    border-radius: 8px;
    padding: 10px 20px;
    border: 1px solid currentColor;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    background-color: var(--color-darkgreen);
}

input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin: 0 5px;
}

.agua-container input {
    width: 15px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;   
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
}

#sumButton {
    background-color: var(--color-blue);
    color: var(--color-lightwhite);
    padding: 10px;
    border-radius: 8px;
}

#minusButton {
    background-color: var(--color-red);
    color: var(--color-lightwhite);
    padding: 10px;
    border-radius: 8px;
}

#timer {
    font-weight: 700;
    font-size: 1.25rem;
    margin: 25px 0 20px;
}

#time {
    font-weight: 500;
    text-decoration: underline;
}

.aviso {
    background-color: var(--color-yellow);
    padding: 7px 12px;
    border-radius: 8px;
    text-align: center;
}

.notations {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 50px;
    width: 100%;
    flex-wrap: wrap;
}

/* .notations::after {
    content: "\f64d";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    top: 50;
} */

.note {
    min-width: 20%;
    aspect-ratio: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    border: 1px solid var(--color-dirtywhite);
    border-radius: 20px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.note textarea {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    padding: 20px;
    font-size: 1rem;
    resize: none;
}

/* .note i {
    position: absolute;
} */

#add-note, 
#download-note {
    font-size: 1.5rem;
    cursor:  pointer;
}

#add-note::before {
transition: all 0.2s;
}

#add-note:hover::before {
    transform: rotateZ(90deg);
}

#excluir, #pin, #editar {
    font-size: 1.5rem;
    color: var(--color-red);
    padding: 10px;
    cursor: pointer;
}

#editar {
    color: var(--color-blue);
}

.tasks-todo {
    margin-top: 20px;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task input[type="text"] {
    width: 90%;
    max-width: 450px;
    border: 1px solid var(--color-dirtywhite);
    padding-left: 35px;
    margin: 0;
    font-size: 1rem;
}

.task input[type="checkbox"] {
    width: 20px;
    aspect-ratio: 1;
    position: absolute;
    margin: 10px;
    border: var(--color-dirtywhite);
}


/* senha */
.unlock {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: none;
}

.input-unlock {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-unlock input {
    width: 300px;
    border: 1px solid var(--color-dirtywhite);
    margin: 0;
}

.hidden {
    display: none;
}

.checked {
    color: var(--color-lightgray);
    text-decoration: line-through;
    transition: all 0.3s;
}

#pin {
    
    color: var(--color-blue);   
}